<h1 class="text-center">Eat-Da-Burger!</h1>

<div class="container">
    {{!-- First Row --}}
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    {{#each burgers}}
                        {{#unless this.devoured}}
                            <li>
                                {{this.id}}. {{this.burger_name}}

                                <form action="burger/{{this.id}}?_method=put" method="post">
                                    <input type="hidden" name="devoured" value="true">
                                    <button type="submit" class="btn btn-danger">DEVOUR!</button>
                                </form>

                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{!-- Second Row --}}
        <div class="row">
            <div class="col-md-12">
                <ul>
                    {{#each burgers}}
                        {{#if this.devoured}}
                            <li>
                                {{this.id}} {{this.burger_name}}
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div> 
        </div>
    
    {{!-- Third Row --}}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">What burger would you like to make?</p>
                    <form action="/burger/create" method="post">
                        <center><textarea name="burger_name" id="new_burger" cols="60" rows="6"></textarea></center>
                         <center><button class="btn btn-primary" id="submit" type="submit">Burger Me!</button></center>
                    </form>
                   
            </div>
        </div>
    
        
</div>